.homeBody {
height: 100%;
display: flex;
align-items: center;
justify-content: space-around;
}

.homeContainer {
  position: relative;
  top: 5vh;
  height: 91vh;
  width: 100vw;
  overflow-x: hidden;
}
.Sections-wrap{
  padding-top: 15px;
  background-color:#fcbb4c94;
}
.Sections-heading {
  margin: 0 auto;
  color: white;
  text-align: left;
  padding-left: 5px;
}

h1.Sections-heading {
  color: rgb(70, 16, 0);
}
h3.Sections-heading {
  font-family: 'Segoe UI';
  font-size: medium;
  color: rgb(99, 23, 0);
}

#Sections {
  max-height: 25vh;
  min-height: 15vh;
  padding: auto;
  overflow: auto;
  white-space: nowrap;
}

.eachSection {
  width: 200px;
  height: 120px;
  max-width: 200px;
  margin: 10px;
  display: inline-block;
  overflow: hidden;

}

.eachSection h1 {
  font-size: 1.5em;
  color: white;
  margin: auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.349);
}



@media (min-width: 650px) {
  
  .homeContainer {
    position: relative;
    top: 8vh;
    width: 1370px;
  }
  #Sections {
    max-height: fit-content;
    min-height: 15vh;
    padding: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
  .eachSection {
    width: 250px;
    height: 120px;
    max-width: 250px;
    margin: 10px;
    display: inline-block;
    overflow: hidden;
  
  }
  /* #Sections{
    overflow-y: scroll;
  }
  #Sections::-webkit-scrollbar:horizontal {
    height: 11px;
}
  #Sections::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, .5);
} */

}  