.homeBody {
height: 100%;
display: flex;
align-items: center;
justify-content: space-around;
}

.homeContainer {
  position: relative;
  top: 5vh;
  height: 91vh;
  width: 100vw;
  overflow: scroll;
  background-color: rgb(188, 211, 211);
}

#Sections {
  max-height: 20vh;
  background-color: none;
  overflow: auto;
  white-space: nowrap;
}

.eachSection {
  width: 200px;
  height: 100px;
  max-width: 200px;
  margin: 10px;
  display: inline-block;
  overflow: hidden;

}

.eachSection h1 {
  font-size: 1.5em;
  color: white;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.349);
}

#eachStall {
  width: 100%;
  height: 20vh;
  background-color: white;
  margin-bottom: 10px;
}

#eachStall .products {
  font-size: x-small;
  color: red;
}

@media (min-width: 650px) {
  
  .homeContainer {
    position: relative;
    top: 8vh;
    width: 1370px;
  }
  /* #Sections{
    overflow-y: scroll;
  }
  #Sections::-webkit-scrollbar:horizontal {
    height: 11px;
}
  #Sections::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, .5);
} */

}  