/* This is the mobile view */
.Navbar {
  z-index: 10;
  position: fixed;
  bottom: 0;
  background-color: whitesmoke;
  border-top: grey solid 2px;
  height: 7vh;
  max-height: 7vh;
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
}

.all-nav-buttons {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.Mobile-top-header {
  z-index: 10;
  position: fixed;
  top: 0;
  height: 5vh;
  max-height: 5vh;
  width: 100vw;
  background-color: rgb(139, 187, 187);
  display: flex;
  justify-content: space-around;
}

.Navbar .logo {
  display: none;
}

.Navbar .nav-icons {
  visibility: visible;
  font-size: 30px;
  color: rgb(139, 187, 187);
  margin: auto;
}

.Navbar .nav-buttons {
  display: none;
}


.Navbar a {
  display: flex;
  text-decoration: none;
}

/*this is for the desktop view */

@media (min-width: 650px) {
  .Navbar {
    position: fixed;
    top: 0; 
    background-color: rgb(139, 187, 187);
    border-top: none;
    border-bottom: grey solid 2px;
    height: 8vh;
    max-height: 8vh;
    min-height:8vh;
    width: 100vw;
  }

  .Mobile-top-header {
    display: none;
  }

  .Navbar .container {
    width: 1320px;
    display: flex;
    justify-content: space-between;
  }


  .Navbar .logo {
    display: unset;
  }

  .Navbar .all-nav-buttons {
    width: 500px;
    display: flex;
    justify-content: space-evenly;
  }
  .Navbar .nav-icons {
    display: none;
  }
  
  .Navbar .nav-buttons {
    display: unset;
    color: white;
    font-size: large;
  }

  .Navbar .nav-buttons{
    border: none;
    background: transparent;
  }
  
  .Navbar .nav-buttons:hover {
  background-color: rgba(255, 255, 255, 0.315);
  }
}