.newStallForm {
  background-color: #fefefe;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  border: none;
  width: 60vw;
  height: 70vh;
}

.newStallForm header {
  display: flex;
  justify-content: space-evenly;

}
.newStallForm header h1{

}

.newStallForm form {
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
}

.newStallForm form select {
  width: 410px;
  height: 4.5vh;
  font-size: 15px;
  text-indent: 5%;
  border-radius: 10px;
  border: solid #EAEAEA 2px;
  color: #757373;
}


.newStallForm form input {
  width: 400px;
  height: 4vh;
  font-size: 15px;
  text-indent: 5%;
  border-radius: 10px;
  border: solid #EAEAEA 2px;
}

.newStallForm form input:focus-visible {
  outline: none;
  border: solid #005FCC 2px;
}

.newStallForm form input[type="file" i] {
  border: none;
  border-radius: unset;
  text-indent: unset;
  margin: 0.5em;

}

.newStallForm form button {
  width: 400px;
  height: 4vh;
  border-radius: 20px;
  border: none;
  font-size: 15px;
}

.newStallForm form button:hover {
  background-color: #005FCC;
  color: white;
}


@media (max-width: 650px) {
  .list-products-modal{
    padding-top: 80px; 
  }

  .newStallForm {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: none;
    width: 65vw;
    height: 68vh;
    overflow-y: hidden;
  }

  .newStallForm header {
    display: flex;
    justify-content: space-between;
  
  }

  .newStallForm header h1{
    margin-top: 0;
    font-size: 1.5em;
  }

  .newStallForm form {
    width: 60vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
  }

  .newStallForm form select {
    width: 62vw;
    height: 4.5vh;
    font-size: 15px;
    text-indent: 5%;
    border-radius: 10px;
    border: solid #EAEAEA 2px;
    color: #757373;
  }

  .newStallForm form input {
    width: 60vw;
    height: 4vh;
    font-size: 15px;
    text-indent: 5%;
    border-radius: 10px;
    border: solid #EAEAEA 2px;
  }

  .newStallForm form button {
    width: 60vw;
    height: 4vh;
    border-radius: 20px;
    border: none;
    font-size: 15px;
  }
  
}